#container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px; 
  background-color: lightslategray;
  font-size: 20px
}

#card {
  border: 1px solid #070707;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 200px;
  margin: 10px;
}

#card img {
  max-width: 100%;
  height:auto;
}